<!-- Text for Index Page -->

{% extends "base.html" %}
{% set authenticated = isAuthenticated %}

{% block btitle %}
	Shoppinator
{% endblock %}

{% block page_content %}
<div class="jumbotron text-center">
    <h1>Welcome to Shoppinator!</h1>
    <h2>A platform to make your shopping experience better!</h2>
</div>
<div class="text-center">
    <h2>Supports:</h2>
<div>
    <a href="https://www.bestbuy.com/"><img src="https://upload.wikimedia.org/wikipedia/commons/f/f5/Best_Buy_Logo.svg" width="150" height="150" title="Best Buy" alt="Best Buy"></a>
<div>

{% endblock %}
